
.glyphicon, .glyphicon-home{
	font-size: 35px;
	top:-6px;
	color:white;
}
marquee{
	margin-right: 30px;
}

.navbar,.dropdown-menu{
	background-color:#176093;
}

.navbar-nav li a{
	color:white !important;
}

.navbar-nav li a:hover,.active1{
	background-color: #258cd4 !important ;
}
.search input{
	margin: 5px 15px 5px 0;
	width: 47.5% !important;
}
.search input #search{
	width: 100% !important;
}
.panel-body{
	margin : 0px;
	padding:0px;
	height : 40px
}
.panel-body a{
	line-height: 40px
}

.span-link{font-size: 25px;color:blue;top:5px;padding:0px;margin:0 10px}
.up{
	background-color: #fc7100;
}
.sr-text {
	width: 97.5% !important;
	margin-bottom: 5px
}

.row-search{
	background-color: #0066CC;
	padding: 20px 0px;
	border-radius: 5px;
}

.btn-search{
	margin-top: 15px;
}

/*============= CONTENT ============*/
.container-content{
	margin-top: 20px;
}

.title-content{
	margin-bottom: 10px;
	border-bottom: 2px solid #0066CC;
}

.title-content a span{
	background-color: #0066CC;
	display: block;
	padding:5px;
	width:300px;
	border-radius: 5px 20px 0px 0px;
	color:white;
}

.title-content-show{
	margin-bottom: 10px;
	border-bottom: 2px solid #0066CC;
}
.title-content-show a span{
	background-color: #0066CC;
	display: block;
	padding:5px;
	width:500px;
	border-radius: 5px 20px 0px 0px;
	color:white;
}

.content-post{
	margin-top: 20px;
}

.title-content a:hover{
	text-decoration: none;
}
.thumbnail{
	max-height: 118px;
}
.post a h5{
	margin-top: -2px;
	margin-bottom:3px;
}
.post span {
	margin-top: 0px;
}
.post{
	position: relative;
	overflow: hidden;
}
.post img{
	float:left;
	margin: 0px 20px 10px 0px;
	width: 90px;
	max-height: 70px;
}

.info li,.info2 li{
	color:#333;
	font-size: 1em
}
.info{
	position: absolute;
	left: 63px;
	top: 55px;
}
.info2{
	position: absolute;
	left: 500px;
	top: 55px;
}

.facebook{
	margin-top: 10px;
}


/*============= SHOW ============*/
.img{
	margin: 10px 15px !important;
	width: 131px;
	min-width: 131px;
	border-radius: 50%;
}

.name-user{
	text-align: center;
	padding-left: 0px;
	margin-left: -15px;
	color:#008AE6;
	font-size: 1.1em
}

.user-post p{
	display: block;
	padding-left: 15px;

}

.btn-like{
	width: 80% !important;
	padding: 0px;
	margin-bottom: 5px; margin-left: 15px;
}
.btn-report{
	width: 80% !important;
	padding: 0px;
	margin-bottom: 20px; margin-left: 15px;
	margin-top: 
}

.container-post h4{
	color: #176093 ;
}
.container-post p,.container-post h4{
	padding: 0px 10px;
}
.
.post p{
	margin-left: 10 px;
}

.ui-state-error{
	background-color: #FFCFCF !important;
	color: #242424 !important;
}
.ui-state-highlight{
	background-color: #FFD6AD !important;
	color: red !important;
}

/*================= COMMENT =============*/
.comment button[type='submit']{
	float:right;
}
.content-comment{
	overflow: hidden;
	margin-top: 20px;
	margin-left: 30px;
}
.user-comment h5{
	color: #008AE6;
}
/*============== SAIBAR =================*/
.saibar{
	margin-top: 29px;
}

/*======== FOOTER ===========*/
.footer{
	margin-top: 50px;
}

.link-footer{
	background-color: #176093;
	height: 40px
}

.link-footer ul li a{
	line-height: 40px;
	display: inline;
	margin-right: 20px;
	color: white;
	font-size: 1.1em;
	text-decoration: none
}
.link-left-footer{
	float:left;
}

.link-right-footer{
	float:right !important;
}


.footer ul{
	float: left;
	padding:0px;
	margin: 0px;
}
.footer ul li{
	list-style: none;
	float:left;
}
.footer a{color:black;}
.footerMenu{
	margin-top: 10px;
}
.footerMenu ul li.level-1 > a{
	font-size: 1.2em;
	color:#222;
	font-weight: bold;
}
.footerMenu ul li ul li{
	width:100%;
}
.footerMenu ul li ul li a{
	font-size: .9em;
}

/*=========backtop==========*/
#backtop img{
	width:38px;
}
.backtop{display:none;position: fixed;right:225px;bottom: 0px;}
.backtopIn{display:none;position: fixed;right:337px;bottom: 0px;}
.loading-load{width:90px; display:none;position: fixed;left: 50%;top: 40%; right:50%; bottom:50%;z-index: 99999999}
#chat-online{
	position: fixed;
	bottom: 0px;
	right: 0px;
	background-color: #193A9A;
	padding-right: 0px;
	padding-left: 0px;
	z-index: 9999999;
	border-radius: 10px 10px 0px 0px;
	border:6px solid #193A9A;
}
.body-chat{
	background-color: white;
	margin: 0px auto;
	width: 99%;
	/*height: 287px;*/
}
.header-chat{
	height: 25px;
	background-color: #193A9A;
	color: white;
}
.header-chat .faded{
	text-align: right;
	float: right;
	margin-right: 7px;
	cursor: pointer;
}

.content-chat{
	width:90%;
	margin:0px auto;
}
.content-chat form{
	margin-top: 15px;
	padding-bottom:35px;
}

.footer-chat{
	position: absolute;
	bottom: 0px;
	width:99%;
	height: 20px;
	background-color: #193A9A;
	color: white;
	line-height: 25px;
	text-align: right;
}
.body-content-chat{
	display: none;
}


