.quick_search {
text-align: center;
padding: 14px 0 0px 0;
}

.quick_search input[type=text] {
text-align: left;
height: 22px;
width: 88%;
color: #ccc;
padding-left: 2%;
padding-top: 5px;
background: #fff url(../images/icn_search.png) no-repeat 10px 6px;
}

.toggleLink {
display: inline;
float: none;
margin-left: 2%
}

html ul.tabs li.active, html ul.tabs li.active a:hover  {
background: #ccc;
}

input[type=submit].btn_post_message {
background: url(../images/post_message.png) no-repeat;
}

fieldset input[type=text] {
margin-left: -10px;
}


fieldset select {
margin-left: -10px
}

fieldset textarea {
margin-left: -10px;
}

